ENVIRONMENT=development|staging|production

# Database
DATABASE_HOST=database_host
DATABASE_PORT=database_port
DATABASE_USER=database_user
DATABASE_PASSWORD=database_password
DATABASE_NAME=database_name

# Email
MAIL_DRIVER=smtp
MAIL_ENCRYPTION=email_encryption
MAIL_HOST=email_host
MAIL_PORT=email_port
MAIL_USERNAME=email_user
MAIL_PASSWORD=email_password

# Security
CORS_ORIGINS=comma_separated_list
SECRET_COOKIE=generated_secret_key
SECRET_JWT=generated_secret_key
